@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
   margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.header{
background-color: navy;
padding-top: 36px;
padding-bottom: 200px; 
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
}
.navigation-holder{
  list-style-type: none;
   padding: 0;
   display: flex;
   flex-grow: 1;
   justify-content: space-evenly;
}
.nav-links a {
 text-decoration: none;
 color:#d1d1d1;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 13px;
}
.holder-title{
    margin-top: 110px;
    margin-bottom: 80px;
    position: relative;
}

.header-subtitle-text{
   display: inline-block; 
   border-left: 1px solid #8c8c8c;
   padding: 8px 0 8px 20px;
   color: #8c8c8c;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 1,5px;
   margin-bottom: 13px;
}

.header-title-text{
    font-size: 90px;
    font-weight: bold;
   color: #fff; 
   max-width: 620px;
   line-height: 1;
}

.join{
    background-color: #febe02;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 110px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    border-radius: 6px;
}

.header-info-block{
    display: flex;
    justify-content: space-between;
}

.card-info{
    max-width: 00px;
}
.card-info-img{
    display: flex;
}
.info-title{
 font-size: 20px;
 font-weight: bold;
 color: #fff;
 letter-spacing: 0.5px;
 margin-top: 15px;
 margin-bottom: 4px;
}
.info-subtitle{
    font-size: 13px;
    color: #8c8c8c;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: block;
}
.about-subtitle-text{
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 8px 0 8px 20px;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-bottom: 13px;
}
.about-desc{
    color: #d1d1d1;
    max-width: 240px;
    font-size: 14px;
    line-height: 1.8;
}
.audio-block{
    background-color:#242424 ;
    display: flex;
    margin-top: 61px;
}
.audio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    padding: 0 34px;
}
.play-btn{
    display: flex;
    background-color:blue ;
    width: 40px;
    height:40px ;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
}.about-title{
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
    letter-spacing: 0,5px;
    margin-top: 15px;
    margin-bottom: 4px;
    text-align: center;
}
.about-subtitle{
    font-size: 13px;
    color: #8c8c8c;
    font-weight: bold;
    letter-spacing: 1,5px;
    text-align: center;
    display: block;
}

.audio-holder {
    width: 540px;
}

.audio-detail {
    flex: 1;
}

.control {
    position: absolute;
    right: 0;
    bottom: 0;
}

.control i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.audio-author {
    display: flex;
    justify-content: center;
    position: relative;
}

.time {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
}


@media (max-width:1120px) {
    .container{
        padding: 0 20px;
    }
}

@media (max-width:992px) {
    .header-info-block{
        flex-direction: column;
    }
    .card-about{
        align-self: flex-end;
        margin-top: 60px;
    }
    .audio-container{
        order: -1;
    }
    .course-row{
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .course-card{
        display: flex;
        margin-bottom: 60px;
    }
    .card-big,.card-small{
        width: 100%;
    }
    .img-container,.info-container{
        width: 50%;
    }
    .img-card-1,.img-card-3{
        margin-right: 40px;
    }
    .img-card-2,.img-card-4{
        order: 2;
        margin-left: 40px;
    }
}

@media (max-width:756px) {
    .course-card{
        flex-direction: column;
    }
    .img-card-1,.img-card-3,.img-card-2,.img-card-4{
        margin: 0;
    }
    .img-container,.info-container{
        width: 100%;
    }
    .img-card-2,.img-card-4{
        order: -1;
    }
}

@media (max-width:578px) {
    .navigation-holder{
        display: none;
    }
    .mob-btn{
        display: inline-block;
        text-decoration: none;
        font-size: 60px;
        color: #fff;
    }
    .header-title-text{
        font-size: 60px;
    }
    .join{
        display: none;
    }
    .card-info-img{
        max-width: 100%;
    }
    .audio-holder,.card-about{
      width: 100%;
    }
    .audio-block img{
        display: none;
    }
    .audio-container{
        padding: 0 42px 0 0;
    }
    .control i{
        height:48px ;
    }
    .course-name{
        font-size: 24px;
    }

}